/*XWP Brand Color Variables*/
* {
  transition: 0.4s; }

body {
  color: #414757;
  font-size: 16px;
  line-height: 1.625;
  max-width: 1280px;
  margin: auto; }

@font-face {
  font-family: XWPDisplay;
  src: url("../fonts/XWPDisplay-Regular.otf");
  font-weight: normal; }

@font-face {
  font-family: WorkHairline;
  src: url("../fonts/WorkSans-Hairline.otf"); }

h1.xwp-font {
  font-family: XWPDisplay, sans-serif;
  font-size: 70px;
  font-weight: 300; }

h1 {
  font-family: WorkHairline, sans-serif;
  font-size: 70px;
  font-weight: 100; }

h2 {
  font-family: "Work Sans", sans-serif;
  font-size: 42px;
  font-weight: 100;
  line-height: 1.286; }

h3 {
  font-family: "Work Sans", sans-serif;
  font-size: 36px;
  font-weight: 600;
  line-height: 1.389;
  letter-spacing: -1px; }

h4 {
  font-family: "Work Sans", sans-serif;
  font-size: 26px;
  font-weight: 600;
  line-height: 1.385; }

h5 {
  font-family: "Work Sans", sans-serif;
  font-size: 20px;
  font-weight: 600;
  line-height: 1.3;
  letter-spacing: 1.6px; }

h6 {
  font-family: "Roboto Mono", monospace;
  font-size: 12px;
  font-weight: 600;
  letter-spacing: 2.5px;
  text-transform: uppercase; }

p,
li,
dt,
dd {
  font-family: "Work Sans", sans-serif;
  letter-spacing: .5px; }

p.p-small {
  font-size: 14px;
  line-height: 1.429;
  font-family: "Work Sans", sans-serif;
  letter-spacing: .5px; }

p.p-large {
  font-size: 20px;
  font-family: "Work Sans", sans-serif;
  line-height: 1.5;
  letter-spacing: -.25px; }

a {
  text-decoration: none;
  color: #2351c4; }

blockquote {
  font-size: 40px;
  font-weight: 100;
  line-height: 1.25; }

code,
abbr,
acronym,
tt,
kbd,
samp {
  font-family: "Roboto Mono", monospace; }

cite {
  font-size: 12px;
  font-family: "Roboto Mono", monospace;
  font-weight: 500;
  letter-spacing: 2px;
  text-transform: uppercase; }

small {
  font-size: 10px;
  font-family: "Roboto Mono", monospace;
  text-transform: uppercase; }

b,
strong {
  font-weight: 600; }

address {
  font-family: "Roboto Mono", monospace;
  font-style: normal; }

label,
legend {
  display: block;
  font-size: 11px;
  font-family: "Work Sans", sans-serif;
  font-weight: 600;
  text-transform: uppercase;
  letter-spacing: 1px; }

fieldset {
  border: 2px solid #e4e6ea; }

input,
input[type="text"],
input[type="email"],
input[type="password"],
input[type="date"],
input[type="number"],
input[type="tel"],
textarea {
  display: block;
  width: 100%;
  font-size: 14px;
  font-family: "Work Sans", sans-serif;
  border: 2px solid #e4e6ea;
  padding: 10px 12px; }

input:hover,
textarea:hover {
  border-color: #bcc0c9; }

input:focus,
textarea:focus {
  border-color: #2351c4;
  outline: none; }

button,
input[type="submit"],
input[type="reset"],
.button {
  width: auto;
  position: relative;
  color: #2351c4;
  background-color: transparent;
  border: 2px solid #2351c4;
  padding: 0 25px;
  line-height: 3em;
  cursor: pointer;
  font-size: 12px;
  text-transform: uppercase;
  letter-spacing: 1px; }

button:hover,
input[type="submit"]:hover,
input[type="reset"]:hover,
.button:hover {
  background-color: #2351c4;
  color: #fff; }

button:before,
.button:before {
  content: "";
  width: 5px;
  height: 2px;
  right: 20%;
  top: -2px;
  display: block;
  position: absolute;
  background-color: #fff;
  transition: 0.4s; }

button:after,
.button:after {
  content: "";
  width: 10px;
  height: 2px;
  left: 5%;
  bottom: -2px;
  display: block;
  position: absolute;
  background-color: #fff;
  transition: 0.4s; }

button em,
.button em {
  content: "";
  width: 2px;
  height: 8px;
  right: -2px;
  bottom: 10%;
  display: block;
  position: absolute;
  background-color: #fff;
  transition: 0.4s; }

button:hover:before,
.button:hover:before {
  right: 110%;
  width: 0px; }

button:hover:after,
.button:hover:after {
  left: 100%;
  width: 0px; }

button:hover em,
.button:hover em {
  height: 0px;
  right: -2px;
  bottom: 100%; }

table {
  border-collapse: collapse;
  width: 100%;
  font-family: "Work Sans", sans-serif; }

th {
  text-align: left; }

th,
td {
  border-bottom: 2px solid #e4e6ea;
  vertical-align: center;
  padding: 12px; }

tr {
  background-color: transparent;
  transition: none; }

tr:hover {
  background-color: RGBA(65, 71, 87, 0.05); }

hr {
  border: none;
  border-bottom: 2px solid #e4e6ea; }

meter {
  display: block;
  width: 100%;
  height: 25px; }

meter::-webkit-meter-inner-element {
  background: none;
  background-color: red; }

meter::-webkit-meter-bar {
  background: none;
  background-color: #e4e6ea; }

meter::-webkit-meter-optimum-value {
  background: none;
  background-color: #1fba82; }

meter::-webkit-meter-suboptimum-value {
  background: none;
  background-color: #EDE746; }

meter::-webkit-meter-even-less-good-value {
  background: none;
  background-color: #CA3235; }

progress {
  display: block;
  width: 100%;
  height: 25px;
  -webkit-appearance: none;
  appearance: none; }

progress::-webkit-progress-bar {
  background-color: #e4e6ea; }

progress::-webkit-progress-value {
  background-color: #1fba82; }
