/*XWP Brand Color Variables*/
$color-black: #000000;
$color-white: #ffffff;
$color-green: #1fba82;
$color-blue: #2351c4;
$color-grey-blue: #414757;
$color-grey-dark: #8f9297;
$color-grey: #bcc0c9;
$color-grey-light: #e4e6ea;
$color-yellow: #EDE746;
$color-red: #CA3235;


$transition: 0.4s;
$transition-quick: 0.2s;

// Text Level Markup
@font-face {
	font-family: XWPDisplay;  
	src: url('../fonts/XWPDisplay-Regular.otf');  
	font-weight: normal;   
}
// Google fonts does not offer the Hariline weight of the font as required by our brand guidelines, so I am adding it here via a driect reference.
@font-face {
	font-family: WorkHairline;  
	src: url('../fonts/WorkSans-Hairline.otf');
}

$font-xwp: XWPDisplay, sans-serif;
$font-body: 'Work Sans', sans-serif;
$font-hairline: WorkHairline, sans-serif;
$font-mono: 'Roboto Mono', monospace;


* {
	transition: $transition;
	box-sizing: border-box;
}
body {
	color: $color-grey-blue;
	font-size: 16px;
	line-height: 1.625rem;
	max-width: 1280px;
	margin: auto;
	font-family: $font-body;
}

h1.xwp-font {
	font-family: $font-xwp;
	font-size: 70px;
	font-weight: 300;
} 
h1 {
	font-family: $font-hairline;
	font-size: 70px;
	font-weight: 100;
}
h2 {
	font-family: $font-body;
	font-size: 42px;
	font-weight: 100;
	line-height: 1.286;
}
h3 {
	font-family: $font-body;
	font-size: 36px;
	font-weight: 600;
	line-height: 1.389; 
	letter-spacing: -1px;
}
h4 {
	font-family: $font-body;
	font-size: 26px;
	font-weight: 600;
	line-height: 1.385;
}
h5 {
	font-family: $font-body;
	font-size: 20px;
	font-weight: 600;
	line-height: 1.3; 
	letter-spacing: 1.6px;
}
h6 {
	font-family: $font-mono;
	font-size: 12px;
	font-weight: 600;
	letter-spacing: 2.5px;
	text-transform: uppercase;
}
p,
li,
dt,
dd,
div {
	font-family: $font-body;
	letter-spacing: .5px;
	margin-bottom: 1rem;
}
p.p-small {
	font-size: 14px;
	line-height: 1.429;
	font-family: $font-body;
	letter-spacing: .5px;
}
p.p-large {
	font-size: 20px;
	font-family: $font-body;
	line-height: 1.5;
	letter-spacing: -.25px;
}
a {
	text-decoration: none;
	color: $color-blue;
}
blockquote {
	font-size: 40px;
	font-weight: 100;
	line-height: 1.25;
	border-left: 2px solid $color-blue; 
	padding-left: 20px;
}
code,
abbr,
acronym,
tt,
kbd,
samp {
	font-family: $font-mono;
}
cite {
	font-size: 12px;
	font-family: $font-mono;
	font-weight: 500;
	letter-spacing: 2px;
	text-transform: uppercase;
}
small {
	font-size: 10px;
	font-family: $font-mono;
	text-transform: uppercase;
}
b,
strong {
	font-weight: 600;
}
address {
	font-family: $font-mono;
	font-style: normal;
}
details {
	width: 100%;
	border-bottom: 2px solid $color-grey-light;
	padding: 12px;
	summary {
		@extend h6;
		outline: none;
		cursor: pointer;
	}
	summary::-webkit-details-marker {
		color: $color-blue;
	}
}
mark {
	background-color: $color-green;
	color: #fff;
	padding-left: 1px;
	padding-right: 1px;
}
figcaption {
	font-family: $font-mono;
	font-size: 12px;
}
menu,
dir {
	list-style: none;
	padding-left: 0;
}
dl {
	margin-bottom: 1rem;
}
dt {
	@extend h6;
}
dd {
	margin-bottom: 1rem;
}
// Form Markup
form {
	ul {
		list-style: none;
		padding-left: 0;
	}
}
label,
legend {
	display: block;
	font-size: 11px;
	font-family: $font-body;
	font-weight: 600;
	text-transform: uppercase;
	letter-spacing: 1px;
}
fieldset {
	border: 2px solid $color-grey-light;
}
input,
input[type="text"],
input[type="email"],
input[type="password"],
input[type="date"],
input[type="number"],
input[type="tel"],
textarea {
	display: block;
	width: 100%;
	font-size: 14px;
	font-family: $font-body;
	border: 2px solid $color-grey-light;
	padding: 10px 12px;
}
input:hover,
textarea:hover {
	border-color: $color-grey;
}
input:focus,
textarea:focus {
	border-color: $color-blue;
	outline: none;
}
button,
input[type="submit"],
input[type="reset"],
.button {
	width: auto;
	position: relative;
	color: $color-blue;
	background-color: transparent;
	border: 2px solid $color-blue;
	padding: 0 25px;
	line-height: 3em;
	cursor: pointer;
	font-size: 12px;
	text-transform: uppercase;
	letter-spacing: 1px;
	margin-bottom: 1rem;
}
button:hover,
input[type="submit"]:hover,
input[type="reset"]:hover,
.button:hover {
	background-color: $color-blue;
	color: #fff;
}
// Note that input fields can't have before or after psuedo selectors, so the following doesn't work on input[type=""]
button:before,
.button:before {
	content: "";
	width: 5px;
	height: 2px;
	right: 20%;
	top:-2px;
	display: block;
	position: absolute;
	background-color: #fff;
	transition: $transition;
}
button:after,
.button:after {
	content: "";
	width: 10px;
	height: 2px;
	left: 5%;
	bottom:-2px;
	display: block;
	position: absolute;
	background-color: #fff;
	transition: $transition;
}
button em,
.button em {
	content: "";
	width: 2px;
	height: 8px;
	right: -2px;
	bottom: 10%;
	display: block;
	position: absolute;
	background-color: #fff;
	transition: $transition;
}
button:hover:before,
.button:hover:before {
	right: 110%;
	width: 0px;

}
button:hover:after,
.button:hover:after {
	left: 100%;
	width: 0px;
}
button:hover em,
.button:hover em {
	height: 0px;
	right: -2px;
	bottom: 100%;
}
input[type="range"] {
	-webkit-appearance: none;
	width: 100%;
	background: transparent;
	background-color: $color-grey-light;
	border: none;
	padding: 0;
	height: 8px
}
input[type=range]::-webkit-slider-thumb {
	-webkit-appearance: none;
	border: none;
	height: 20px;
	width: 20px;
	border-radius: 50%;
	background: $color-grey-blue;
	cursor: pointer;
	transition: $transition;
}

// input[type=range]:focus,
input[type=range]:hover,
input[type=range]:active {
	outline: none; /* Removes the blue border. You should probably do some kind of focus styling for accessibility reasons though. */
	background-color: $color-grey;
}
// input[type=range]:focus::-webkit-slider-thumb,
input[type=range]:hover::-webkit-slider-thumb,
input[type=range]:active::-webkit-slider-thumb {
	background-color: $color-blue;
	height: 26px;
	width: 26px;
}
select {
	border: 2px solid $color-grey-light;
	padding: 12px;
	font-family: $font-body;
	color: $color-grey-blue;
	outline: none;
}
// Tables
table {
	border-collapse: collapse;
	width: 100%;
	font-family: $font-body;
}
th {
	text-align: left;
}
th,
td {
	border-bottom: 2px solid $color-grey-light;
	vertical-align: center;
	padding: 12px;
}
tr {
	background-color: transparent;
	transition: none;
}
tr:hover {
	background-color: RGBA(65,71,87,0.05);
}
hr {
	border: none;
	border-bottom: 2px solid $color-grey-light;
}
// Meters and Progress Bars
meter {
	display: block;
	width: 100%;
	height: 25px;
}
meter::-webkit-meter-inner-element {
	background: none;
	background-color: red;
}
meter::-webkit-meter-bar {
	background: none;
	background-color: $color-grey-light;
}
meter::-webkit-meter-optimum-value {
	background: none;
	background-color: $color-green;
}
meter::-webkit-meter-suboptimum-value {
	background: none;
	background-color: $color-yellow;
}
meter::-webkit-meter-even-less-good-value {
	background: none;
	background-color: $color-red;
}
progress {
	display: block;
	width: 100%;
	height: 25px;
	-webkit-appearance: none;
	appearance: none;
}
progress::-webkit-progress-bar {
	background-color: $color-grey-light;
}
progress::-webkit-progress-value {
	background-color: $color-green;
}



